<p>
    <a href="/words/add">Добавить новое слово</a>
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Дата</th>
            <th>Слово</th>
            <th>Описание</th>
            <th>Пример</th>
        </tr>
    </thead>
    <tbody>
        {{#each words}}
        <tr>
            <td>{{inc @index}}</td>
            <td>{{formatDate this.date}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.example}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>