{{#if word}}
<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="pull-right">{{formatDate word.date}}</span>
        <h3 class="panel-title text-center">{{word.title}}</h3>
    </div>
    <div class="panel-body">
        <input id="wordId" type="hidden" name="wordId" value="{{word._id}}" />
        <p>
            {{word.description}}
        </p>
        {{#if word.example}}
        <hr />
        <p>
            {{word.example}}
        </p>
        {{/if}}
    </div>
    {{#if user}}
    <div class="panel-footer">
        <div class="pull-right">
            <a id="rating-plus" class="glyphicon glyphicon-plus"></a>
            <span id="rating">{{word.rating}}</span>
            <a id="rating-minus" class="glyphicon glyphicon-minus"></a>
        </div>
        <div class="clearfix"></div>
    </div>
    {{/if}}
</div>
{{else}}
<p>На сегодня слов больше нет</p>
{{/if}}